@charset "UTF-8";

/* カスケード変数(CSS変数) */
:root {
    --main-img-color0: #ed8783;
    --main-img-color1: #efc3b7;
    --main-img-color2: #f5dfd9;
    --main-img-color3: #f7edea;
    --main-icon-color: #c57777;
    --body-img-color: #4D4D4D;
}

/*コンテンツ全体に対する指定*/
body {
    font-family: 'M PLUS 1p', sans-serif;
    color: var(--body-img-color);
}
.wrapper {
    margin: 0;
    padding: 0 4%;
}

.page_header {
    /* 背景黒 */
    /* background-color: #000000; */
    background-color: var(--main-img-color1);
    /* 横並び(floatでもいいけど、floatだと解除が必要) */
    display: flex;
    height: 80px;
    align-items: center;
    /* 端っこによる */
    justify-content: space-between;
    margin-top: auto;
}
.logo {
    /* アンダーバー取る */
    text-decoration: none;
    /* 背景白 */
    color: #ffffff;
}

.hippo_icon {
    color: var(--main-icon-color);
    font-size: 30px;
}
.tractor_icon {
    color: var(--main-icon-color);
    font-size: 30px;
}

.page_footer {
    height: 70px;
    background-color: var(--main-img-color1);
    position: fixed;
    /* フッターは一番下なのでbottom:0 */
    bottom: 0;
    width: 100%;
    display: flex;
    /* 左右真ん中 */
    justify-content: center;
    /* 上下真ん中 */
    align-items: center;
}
.footer-text {
    color: #ffffff;
    font-size: 10.5px;
}

p {
    font-size: large;
}

/* upload.php */
.upload_content_form {
    width: 60%;
    /* vh画面サイズに合わせてマージンする設定 */
    /* スマホにも対応できる */
    margin: 6vh auto 0;
    padding-bottom: 10%;
}
.upload_content_label {
    display: flex;
    /* フレックスボックスの縦並び */
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 415px;
    background-color: #CCCCCC;
    border-radius: 40px;
    color: #ffffff;
}
.plus_icon {
    /* インライン要素に対応できるディスプレイ */
    display: inline-block;
    font-size: 50px;
}
.upload_text {
    font-size: 30px;
    font-weight: bold;
}
.input_file {
    display: none;
}
.input_text {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 10px;
    height: 73px;
}
.upload_content_label img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.input_text::placeholder {
    color: #E6E6E6;
}
.upload_submit {
    display: block;
    margin-top: 10px;
    border-radius: 18px;
    font-size: 18px;
    padding: 2px 30px;
    background: #F15A24;
    color: #ffffff;
    /* 右寄せ */
    margin-left: auto;
}

/*ここから */
/* index.php */
.article {
    margin: 6vh 0 10% 0;
}
.grid {
    margin: 0 auto;
}
/* これを入れるときれいに並ぶ */
/* 幅を入れないとマソンリーが作動しない */
.grid_item {
    width: 250px;
}
.grid_item img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 40px;
    /* 画像を並べるcover */
    object-fit: cover;
}
.add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #4D4D4D;
    border: 1px solid #eae7e7;
    border-radius: 50%;
    box-shadow: 1px 1px #00000080;
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
}


/* view.php */
/* ok */
.view_content {
    background-color: var(--main-img-color2);
    border-radius: 10px;
    width: 1000px;
    margin: 50px auto;
    margin-bottom: 120px;
    padding: 20px 50px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

/* ok */
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    /* border-collapse: separate; */
    /* border-spacing: 5px; */
    /* width: 200px; */
    margin: 20px auto;
    border: 1px solid var(--body-img-color);
    background-color: var(--main-img-color3);
}

/* ok */
table td{
    padding: 10px 0;
    text-align: center;
    border: 1px solid var(--body-img-color);
}

.emphasize {
    font-weight: bold;
    text-decoration: underline;
}


.content {
    width: 60%;
    margin: 6vh auto 0;
}
.main_content img {
    width: 100%;
    /* 大きすぎるとフッターが隠れる */
    height: 350px;
    border-radius: 40px;
    object-fit: cover;
}
.main_content p {
    margin-top: 10px;
    width: 100%;
    color: #4D4D4D;
}
.button {
    margin-top: 10px;
    /* 横並び */
    display: flex;
    /* 端っこに寄せる */
    justify-content: flex-end;
}
.edit_button {
    font-size: 18px;
    /* 角丸 */
    border-radius: 18px;
    padding: 5px 30px;
    background: #39B54A;
    /* アンダーラインなし */
    text-decoration: none;
    color: #FFFFFF;
}
.delete_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #CCCCCC;
    margin-left: 10px;
    color: #FFFFFF;
}

/* edit.php */
.update_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #F15A24;
    color: #FFFFFF;
}

/* insert.php */
/* ok */
.errors{
    margin: 10px;
    padding: 10px;
    color: #ba4141;
}

/* ok */
.insert_content {
    background-color: var(--main-img-color2);
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    margin-bottom: 120px;
    padding: 20px 50px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

/* ok */
.insert_title,
.view_title {
    padding-top: 25px;
    text-align: center;
}
.email_label,
.name_label,
.password_label {
    display: block;
    margin: 10px 0px;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999999;
}
.button_area {
    margin-top: 30px;
    /* display: flex; */
    justify-content: space-between;
}
/* ok */
.insert_button {
    background: var(--main-img-color0);
    padding: 13px 0;
    width: 52%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
    margin-bottom: 10%;
}
/* ok */
.view_page_button,
.insert_page_button {
    text-align: center;
    padding: 15px;
    background: var(--main-img-color0);
    color: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    /* margin: 10% ; */
}

/* ok */
.success{
    margin: 30px auto;
    padding: 10px;
    list-style-type: none;
}

 /* レスポンシブ */
/* 画面サイズが900pxまでの設定 */
@media (max-width: 900px) {
    /* upload.php */
    .upload_content_label {
        height: 355px;
    }
    .upload_content_form {
        width: 70%;
    }
    /* show.php */
    .content {
        width: 70%;
    }
}

/* 画面サイズが600pxまでの設定 */
@media (max-width: 600px) {
    /* upload.php */
    .upload_content_form {
        width: 90%;
    }
        /* index.php*/
    .article {
        padding-bottom: 10%;
    }
    /* show.php */
    .content {
        width: 90%;
    }
    /* signup.php */
    .signup_content {
        width: 70%;
    }
    .button_area {
        margin-top: 15px;
        flex-direction: column;
    }
    .signup_button {
        width: 100%;
        padding: 10px;
    }
    .login_page_button {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        padding: 10px;
    }
}


