@charset "UTF-8";

/* カスケード変数(CSS変数) */
:root {
    --main-img-color0: #ed8783;
    --main-img-color1: #efc3b7;
    --main-img-color2: #f5dfd9;
    --main-img-color3: #f7edea;
    --main-icon-color: #c57777;
    --body-img-color: #4D4D4D;
    --btn-color: #8f8f8f;
    --menu-color1: #ed8783;
    --menu-color2: #93b354;
    --menu-color3: #81c6d2;
    --back-color: #FFFFFF;
    --warning-color: #ba4141;
    --success-color: #4fa218;
}

/*コンテンツ全体に対する指定*/
body {
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* font-family: "Nico Moji"; */
    color: var(--body-img-color);
}
.wrapper {
    margin: 0;
    padding: 0 4%;
}
.page_header {
    background-color: var(--main-img-color1);
    display: flex; /* 横並び(floatでもいいけど、floatだと解除が必要) */
    height: 80px;
    align-items: center;
    justify-content: space-between; /* 端っこによる */
    margin-top: auto;
}
.logo {
    text-decoration: none; /* アンダーバー取る */
    color: var(--back-color)
}
.material-symbols-outlined1 {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.hippo_icon {
    color: var(--main-icon-color);
    font-size: 30px;
}
.fa-bars_icon {
    color: var(--main-icon-color);
    font-size: 30px;
}
.flag_on {
    color: var(--warning-color);
    font-size: 20px;
    padding: 0 5%;
}
.flag_off {
    color: var(--main-img-color3);
    font-size: 20px;
    padding: 0 5%;
}
.flag{
    display: flex;
    margin-left: 25%;
}
.page_footer {
    height: 70px;
    background-color: var(--main-img-color1);
    position: fixed;
    bottom: 0; /* フッターは一番下なのでbottom:0 */
    width: 100%;
    display: flex;
    justify-content: center; /* 左右真ん中 */
    align-items: center; /* 上下真ん中 */
}
.footer-text {
    color: var(--back-color);
    font-size: 10.5px;
}

/* 結果 */
.errors{
    margin: 15px;
    padding: 10px;
    color: var(--warning-color);
}
.warning{
    margin-left: 20px;
    color: var(--warning-color);
}
.success{
    margin: 30px auto;
    padding: 10px;
    list-style-type: none;
    font-size: larger;
    color: var(--success-color);
    text-align: center;
}

/* sectionタグclass */
.manual_content,
.view_content {
    background-color: var(--main-img-color2);
    border-radius: 10px;
    width: 1000px;
    margin: 50px auto;
    margin-bottom: 120px;
    padding: 20px 50px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}
.insert_content {
    background-color: var(--main-img-color2);
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    margin-bottom: 120px;
    padding: 20px 50px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}
.menu_content {
    background-color: var(--main-img-color2);
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    margin-bottom: 120px;
    padding: 20px 50px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.productivity_content,
.check_content,
.edit_content,
.born_info_content{
    background-color: var(--main-img-color2);
    border-radius: 10px;
    width: 600px;
    margin: 50px auto;
    margin-bottom: 120px;
    padding: 20px 50px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

/* hタグclass */
.manual_text{
    font-size: medium;
    margin-top: 1%;
    color: #ba4141;
}
.insert_title,
.index_title,
.edit_title,
.view_title {
    padding-top: 25px;
    text-align: center;
}
.manual_title {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}


/* listタグclass*/
.manual_list1{
    font-size: larger;
    margin: 1%;
    /* margin-top: 5%; */
}
.manual_list2{
    /* font-size: medium; */
    margin-top: 3%;
}
.manual_list3{
    font-size: medium;
    margin: 1% 4%;
}

/* buttonタグclass */
.manual_button1 {
    text-align: center;
    padding: 8px 25px;
    background: var(--menu-color1);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
}
.manual_button2 {
    text-align: center;
    padding: 8px 25px;
    background: var(--menu-color2);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
}
.manual_button3 {
    text-align: center;
    padding: 8px 25px;
    background: var(--menu-color3);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
}
.manual_button4 {
    text-align: center;
    padding: 8px 25px;
    background: var(--btn-color);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
}
.edit_and_delete_page_button {
    text-align: center;
    padding: 10px 20px;
    background: var(--btn-color);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 2%;
    font-size: larger;
}
.menu_page_button1 {
    text-align: center;
    padding: 15px 100px;
    background: var(--menu-color1);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 2%;
}
.menu_page_button2 {
    text-align: center;
    padding: 15px 100px;
    background: var(--menu-color2);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 2%;
}
.menu_page_button3 {
    text-align: center;
    padding: 15px 100px;
    background: var(--menu-color3);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 2%;
}
.menu_button_area {
    margin-top: 30px;
    display: grid;
    /* justify-content: space-between; */
}
.edit_and_delete_button_area {
    margin-top: 20px;
    display: grid;
}
.manual_button_area {
    margin-top: 20px;
    margin-bottom: 40px;
    /* justify-content: space-between; */
}
.button_area {
    margin-top: 30px;
    /* display: flex; */
    justify-content: space-between;
}
.insert_button {
    background: var(--main-img-color0);
    padding: 13px 0;
    width: 55%;
    color: var(--back-color);
    letter-spacing: 0.6rem;
    text-indent: 0.5rem;
    border-radius: 30px;
    margin-bottom: 10%;
}
.insert_page_button {
    text-align: center;
    padding: 15px;
    background: var(--menu-color1);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
}
.view_page_button {
    text-align: center;
    padding: 15px;
    background: var(--menu-color2);
    color: var(--back-color);
    border-radius: 30px;
    text-decoration: none;
}
.check-button {
    background: var(--main-img-color0);
    padding: 13px 0;
    width: 25%;
    color: var(--back-color);
    letter-spacing: 0.6rem;
    text-indent: 0.5rem;
    border-radius: 30px;
    margin-bottom: 10%;
}
.product-button {
    background: var(--main-img-color0);
    padding: 13px 0;
    width: 30%;
    color: var(--back-color);
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
    margin-bottom: 10%;
}
.check-btn {
    color: var(--back-color);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0 4%;
    background-color: var(--menu-color2);
}
.flag-btn {
    color: var(--back-color);
    border-radius: 30px;
    font-size: 1.2rem;
    padding: 0 5%;
    background-color: var(--btn-color);
    margin: 2%;
}

.before_area {
    margin-top: 30px;
    display: flex;
    /* justify-content: space-between; */
}
.before_label {
    margin: 10px 0;
    padding: 10px 0;
    margin-right: 3px;
    border-radius: 6px;
}
.before_indivi_num {
    margin: 10px;
    padding: 10px;
    background-color: var(--back-color);
    border-radius: 6px;
    width: 150px;
    /* display: flex; */
    /* justify-content: space-between; */
}

/* tableタグclass */
/* ok未使用 */
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    /* border-collapse: separate; */
    /* border-spacing: 5px; */
    /* width: 200px; */
    margin: 20px auto;
    border: 1px solid var(--body-img-color);
    background-color: var(--main-img-color3);
}

/* ok未使用 */
th,
td{
    padding: 10px 0;
    /* width: 5px; */
    text-align: center;
    border: 1px solid var(--body-img-color);
}


/* view_born_info.php */
.in_title {
    /* padding-top: 25px; */
    text-align: center;
    font-size: larger;
}

/* ok */
.in_content {
    background-color: var(--main-img-color3);
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    /* margin-bottom: 120px; */
    padding: 20px 50px;
    font-size: large;
}

/* ok */
.indivi_info{
    margin: 0px 15px;
    padding-top: 15px;
}

/* ok */
.born_infos{
    display: flex;
}

/* ok */
.born_info1{
    margin: 5px 15px;
    padding: 10px;
}

/* ok */
.born_info2{
    margin: 5px 5px;
    padding: 20px;
    list-style-type: none;
}

/* ok */
.use{
    font-size: x-large;
    margin: 20px 0;
}

/* edit.php */
.item{
    font-size: larger;
    margin: 10px;
    margin-top: 50px;
}
/* check.php */
/* ok */
.condition{
    font-size: larger;
    margin: 10px;
}
/* ok */
.condition_list{
    padding: 10px 30px;
}

/* ok */
.one_condition {
    display: flex;
}

/* ok */
.span_label{
    display: block;
    width: 15%;
    padding: 10px;
    font-size: large;
}
.condition_label {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: large;
}
.condition_label2 {
    display: block;
    width: 30%;
    padding: 10px;
    font-size: large;
    letter-spacing: 0.55rem;
    /* text-indent: 0.5rem; */
}
/* ok */
.condition_text {
    display: block;
    width: 50%;
    padding: 10px;
    font-size: large;
}


/* inputタグ */
.normal_input {
    display: block;
    width: 100%;
    background-color: var(--back-color);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px;
}
input::placeholder {
    color: #999999;
}
.condition_input {
    display: block;
    width: 25%;
    background-color: var(--back-color);
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}
.span_input {
    display: block;
    width: 30%;
    background-color: var(--back-color);
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}
.edit_and_delete_input {
    /* display: block; */
    width: 30%;
    background-color: var(--back-color);
    border-radius: 6px;
    /* margin-bottom: 10px; */
    margin: 10px;
    padding: 10px;
}
.radio{
    margin-right: 5%;
}



 /* レスポンシブ */
/* 画面サイズが900pxまでの設定 */
@media (max-width: 900px) {
    /* upload.php */
    .upload_content_label {
        height: 355px;
    }
    .upload_content_form {
        width: 70%;
    }
    /* show.php */
    .content {
        width: 70%;
    }
}

/* 画面サイズが600pxまでの設定 */
@media (max-width: 600px) {
    /* upload.php */
    .upload_content_form {
        width: 90%;
    }
        /* index.php*/
    .article {
        padding-bottom: 10%;
    }
    /* show.php */
    .content {
        width: 90%;
    }
    /* signup.php */
    .signup_content {
        width: 70%;
    }
    .button_area {
        margin-top: 15px;
        flex-direction: column;
    }
    .signup_button {
        width: 100%;
        padding: 10px;
    }
    .login_page_button {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        padding: 10px;
    }
}


